@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Overpass:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-image: url('/assets/images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    border-radius: 10px;
}

.main-section {
    display:flex;
    max-width:1300px;
    column-gap: 5%;
    padding:20px;
}

.intro-text-container {
    flex: 0 0 40%;
}

.intro-form-container {
    flex: 0 0 45%;
}

.intro-heading {
    font-size: 50px;
    line-height: 125%;
}

.intro-pitch {
    margin-top:20px;
    word-break: break-all;
    line-height: 175%;
}

.intro-text-container {
    color:white;
    align-self: center;
}

.intro-form-container {
    display:flex;
    flex-direction: column;
    row-gap: 15px;
}

.intro-form-input-container {
    position:relative;
}

.intro-form-error-icon {
    position:absolute;
    bottom:50%;
    right:5%;
}

.intro-form {
    display:flex;
    flex-direction: column;
    background:white;
    padding: 40px 30px;
    row-gap: 20px;
    border-radius: 10px;
}

.intro-trial {
    background: hsl(248, 32%, 49%);
    color:white;
    padding:20px;
    text-align: center;
    width:100%;
}

.intro-trial-period {
    font-weight: 700;
}

.intro-form-input {
    padding:20px 40px;
    border-radius: 5px;
    border:1px solid hsl(246, 25%, 77%);
    font-size: 17px;
    font-weight: 600;
    width:100%;

}

.intro-form-error-msg {
    text-align: right;
    width:100%;
    display:inline-block;
    color:hsl(0, 100%, 74%);
    font-size: 12px;
    font-style: italic;
}

.intro-form-input:active {
    border:none;
    background: none;
}

.intro-form-input:focus {
    outline: none;
    border:1px solid hsl(249, 10%, 26%);
}

.intro-form-submit {
    padding:15px;
    text-transform: uppercase;
    color:white;
    background:hsl(154, 59%, 51%);
    word-spacing: 2px;
    font-weight: 600;
    border:none;
    border-radius: 5px;
}

.intro-terms {
    font-size: 10px;
    text-align: center;
    color:hsl(246, 25%, 77%);
    font-weight: 700;
}

.intro-terms-doc {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

@media screen and (max-width:818px) {
    .main-section {
        flex-direction: column;
    }

    .intro-text-container {
        text-align: center;
    }
}